<%- include('../partials/header') %>
    <br><br><br>

    <form id="new-form" action="/events" method="POST">
        <div id="newEventDiv">
            <label>Title:</label>
            <input type="text" name="title">

            <label>Venue: </label>

            <input type="text" name="venue">

            <label>Description:</label>

            <input type="text" name="description">

            <label>City: </label>

            <input type="text" name="city">

            <label>Date: </label>

            <input type="date" name="date">
            <br>
            <input type="submit" value="Add Event">
            <br><br>

        </div>
    </form>

    <%- include('../partials/footer') %>