<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Cartalk</title>
</head>

<body>
    <nav>
        <a aria-current="page" href="/events/new">Add Event</a>
        <a href="/events">All Events</a>
        <a href="/searches/index">Search Events by City</a>
        <% if (user) { %>
            <p id="userName">HELLO!
                <%=user.name%>
            </p>
            <a href="/logout">LOG OUT</a>
            <% }%>
    </nav>