<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarTalk!</title>
</head>

<body>
    <nav>
        <% if(!user) {%>
            <a href="/auth/google" class="login">
                <img src="https://i.imgur.com/NV3HXy7.png" alt="">
            </a>
            <% } %>
    </nav>
</body>

</html>