<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <title>CarTalk!</title>
</head>

<body>

    <nav>
        <% if(!user) {%>
            <a href="/auth/google">
                <img id="GoogleImg" src="https://cdn-icons-png.flaticon.com/512/281/281764.png" alt=""> Login
            </a>
            <% } %>
    </nav>
    <h1>CarTalk!</h1>
</body>

</html>