body {
    background-image: url(https://i.imgur.com/g8IpdZr.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    color: black;
    font-weight: bolder;
    font-size: 20px;
    margin: 20px;
    text-decoration: none;
}

.login {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 34px;
}

.login img {
    height: 30px;
}