body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
}

.login img {
    height: 30px;
}

#userImg {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: right;
    padding: 10px;
    background-color: antiquewhite;
}

#userName {
    justify-content: left;
}