body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url(https://i.imgur.com/SqVu0WF.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 15px;
}

a {
    color: black;
    margin-top: 20px;
    margin-left: 30px;
    color: cornflowerblue;
}

#userImg {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-top: -35px;
}

#userName {
    margin-top: 38px;
    margin-right: 30px;
    color: black;
    font-weight: bolder;
    font-size: 20px;
}

a:hover {
    margin-top: 2px;
}

.navbar {
    background-color: #D3E4CD;
    border-radius: 30px;
}

.DDEbutton {
    background-color: #585858;
    color: #13AEDB;
    border-radius: 30px;
}

.DDEbutton::backdrop {
    backdrop-filter: drop-shadow(4px 4px 10px blue);
}

.DDEbutton:hover {
    transform: scale(1.5);
}

#description {
    width: 30vw;
    overflow-wrap: break-word;
    color: brown;
}