<%- include('../partials/header') %>

    <form id="new-form" action="/events" method="POST">
        <label>Title:</label>
        <input type="text" name="title">
        <label>venue</label>
        <input type="text" name="venue">
        <label>description</label>
        <input type="text" name="description">
        <label>date</label>
        <input type="date" name="date">
        <input type="submit" value="Add Event">
    </form>

    <%- include('../partials/footer') %>