<%- include('../partials/header') %>

    <form id="search-form" action="/events" method="POST">
        <label>City:</label>
        <input type="text" name="city">
        <input type="submit" value="Search Event">
    </form>

    <%- include('../partials/footer') %>